@{
}

<div>
	<h1>Buttons</h1>


	<div >

		@using (Html.BeginForm("Buttons", "Home", FormMethod.Post))
		{
			<button class="btn btn-outline-info" type="submit" name="number" value="1">Přidat účet Katka</button>
			<button class="btn btn-outline-info" type="submit" name="number" value="2">Employer</button>
			<button class="btn btn-outline-info" type="submit" name="number" value="3">JobSeeker</button>
		}



	</div>













</div>