@{
}



<div>
	<h1>Buttons</h1>


	<div class="d-flex gap-2">


		<form asp-action="Buttons" method="post">
			<button class="btn btn-info" type="submit">Admin</button>
		</form>


		<form asp-action="Buttons" method="post">
			<button class="btn btn-info" type="submit">Employer</button>
		</form>

	</div>













</div>