@{
    ViewData["Title"] = "Home Page";
}

<div style="width:1000px" >
    <h1 class="mt-5 text-center fs-1 text-info fw-bolder">Job Portal</h1>
    <h2 class="mb-5 text-center">Inzerce a vyhledávání pracovních nabídek</h2>
   
    <ol>
        <li class="my-2">
            Zaměstnavatelé mohou přidávat, upravovat a mazat pracovní nabídky.
            Uchazeči se mohou registrovat, hledat nabídky a podávat žádosti.
            Admin má plný přístup ke správě uživatelů a inzerátů.
        </li>

        <li class="my-2">
            Při registraci se uživatelům pošle ověřovací email.
            Bez potvrzeného emailu není přístup k podávání žádostí nebo publikování nabídek.
        </li>

        <li class="my-2">
            Filtrování pracovních nabídek podle lokace, platových rozpětí, typu práce.
            Profil uživatele s historií podaných žádostí nebo nabídek.
        </li>
    </ol>
</div>
